version: "3.9"

services:
  api:
    build: .
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./artifacts:/app/artifacts
      - ./mlruns:/app/mlruns
    environment:
      - PYTHONUNBUFFERED=1
      - MLFLOW_TRACKING_URI=file:/app/mlruns
